.ICEauthority
.Xauthority
.cache/
.gnupg/
.config/
.local/
.npm/
.ssh/
.vscode-server/
.wget-hsts
.viminfo
.xsession-errors
backup/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
